.emptyAvatar {
  border-radius: 100%;
  display: block;
  color: var(--white);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: var(--step-down-2);
}

.image {
  border-radius: 100%;
}

.emptyAvatar,
.image {
  border: 2px solid transparent;
  transition: border-color var(--ease) var(--fast-animation);
}

a:hover > .emptyAvatar,
a:focus > .emptyAvatar,
a:hover > .image,
a:focus > .image {
  border-color: var(--yellow);
}

:global(body.light) a:hover > .emptyAvatar,
:global(body.light) a:focus > .emptyAvatar,
:global(body.light) a:hover > .image,
:global(body.light) a:focus > .image {
  border-color: var(--red);
}