.emptyAvatar {
  border-radius: 100%;
  display: block;
  color: var(--white);
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: var(--step-down-2);
}

.image {
  border-radius: 100%;
}