.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0.7em 2em;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  transition: background-color var(--ease) var(--fast-animation);
}

.button:hover,
.button:focus,
:global(body.dark) .button:hover,
:global(body.dark) .button:focus {
  color: var(--white);
  background-color: var(--purple);
}