.logo {
  font-family: var(--serif);
  display: flex;
  align-items: baseline;
  color: var(--white);
  transition: color var(--ease) var(--fast-animation);
}

@media only screen and (min-width: 600px) {
  .logo {
    font-size: var(--step-up-2);
  }
}

.logo:hover,
.logo:focus {
  color: var(--yellow);
}

.dot {
  margin-right: 0.3em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 100%;
  background-color: var(--white);
  transition: background-color var(--ease) var(--fast-animation);
}

.logo:hover .dot,
.logo:focus .dot {
  background-color: var(--yellow);
}

:global(body.light) .logo {
  color: var(--black);
}

:global(body.light) .dot {
  background-color: var(--black);
}

:global(body.light) .logo:hover,
:global(body.light) .logo:focus {
  color: var(--red);
}

:global(body.light) .logo:hover .dot,
:global(body.light) .logo:focus .dot {
  background-color: var(--red);
}