.post {
  padding-bottom: 4em;
}

.bordered {
  border: 1px solid var(--very-light-purple);
  margin-bottom: 4em;
}

:global(body.dark) .bordered {
  border-color: var(--very-dark-purple)
}

.typographyContainer {
  padding-top: 2em;
}