.postReply {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--very-dark-purple);
  padding: 1em 0;
  box-shadow: 0px 0px 5em 0 var(--glow-color-dark);
}

:global(body.light) .postReply {
  background-color: var(--very-light-purple);
  box-shadow: 0px 0px 5em 0 var(--glow-color-light);
}

.postReply::before {
  content: '';
  position: absolute;
  top: 0; 
  left: -100%;
  background-color: var(--very-dark-purple);
  display: block;
  height: 100%;
  width: 300%;
  z-index: -1;
}

:global(body.light) .postReply::before {
  background-color: var(--very-light-purple);
}

.button {
  position: absolute;
  top: 1.3em;
  right: 0.3em;
  z-index: 10;
  padding: 0.5em;
  border-radius: 0.7em;
  background-color: var(--purple);
  display: flex;
}