.postCreator {
  display: flex;
  align-items: center;
  line-height: 1;
  background: var(--very-dark-purple);
  padding: 1em;
}

:global(body.light) .postCreator {
  background: var(--very-light-purple);
}

.avatar {
  width: 4em;
}

.avatarImage {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.metaContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nameInfo {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: var(--step-up-1);
  margin-bottom: 0.2em;
}

.shortBio ,
.createdDate {
  font-size: var(--step-down-1);
}