.table {
  border-collapse: collapse;
}

.headerRow {
  background-color: var(--very-dark-purple);
  transition: background-color var(--ease) var(--slow-animation);
}

:global(body.light) .headerRow {
  background-color: var(--very-light-purple);
}

.headerCell {
  font-size: var(--step-down-3);
  text-transform: uppercase;
  text-align: left;
  padding: 0.5em 1.5em 0.5em 0;
}

.headerCell:first-child {
  /* left align with threadsTableRow.topic */
  padding-left: 20px; 
}