.threadTitle {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}

.title {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0;
}

.createdDate {
  margin-top: 1em;
  font-size: 0.8em;
}