.threadCreator {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-top: 0.5em;
  font-size: var(--step-up-2);
  line-height: 1;
}

.shortBio {
  font-size: var(--step-down-1);
}