.threadTitle {
  text-align: center;
  margin-top: 2em;
}

.title {
  margin: 0;
}

.subline {
  display: flex;
  font-size: var(--step-down-1);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
