.button {
  transition: color var(--ease) var(--fast-animation);
}

.button:hover,
.button:focus {
  color: var(--yellow);
}

:global(body.light) .button:hover,
:global(body.light) .button:focus {
  color: var(--red);
}

.buttonContent {
  display: flex;
}

.icon {
  margin-right: 0.5em;
  margin-left: -1.7em;
}