.container {
  max-width: 40rem;
  margin: 0 auto;
}

.content {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.date,
.thread {
  font-size: 0.8rem;
}
