.post {
  padding-bottom: 4em;
  border: 1px solid var(--very-light-purple);
  margin-bottom: 4em;
}

:global(body.dark) .post {
  border-color: var(--very-dark-purple)
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  background: var(--very-light-purple);
  font-size: var(--step-down-1);
  padding: 1rem;
}

.header a {
  text-decoration: underline;
}

:global(body.dark) .header {
  background: var(--very-dark-purple);
}

.content {
  padding-top: 2em;
}