.topRow {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

.editLink {
  margin-bottom: 1em;
}

.image {
  border-radius: 50%;
  margin-right: 1rem;
}

.name {
  margin: 0;
}

.info {
  display: flex;
  justify-content: center;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.socialButton {
  margin-left: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2em;
}

.socialIcon {
  color: transparent;
  fill: var(--black);
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2em;
}

:global(body.dark) .socialIcon {
  fill: var(--white)
}

.socialButton:hover .twitter,
.socialButton:focus .twitter {
  fill: #00acee;
}

.socialButton:hover .facebook,
.socialButton:focus .facebook {
  fill: #3b5998;
}

.socialButton:hover .linkedin,
.socialButton:focus .linkedin {
  fill: #0072b1;
}

.longBio {
  margin-top: 2rem;
  white-space: break-spaces;
}