:root {
  --black: #000;
  --editor-black: #101010;
  --editor-white: #fff;
  --white: #FFF;
  --yellow: #FCFF53;
  --blue: #5372ff;
  --purple: #474186;
  --light-purple: #C8C4F2;
  --very-light-purple: #E6EFFD;
  --very-dark-purple: #191C2A;
  --red: #ff5353;
  --disabled-grey: #999;

  --grey-on-white: #B8BAD2;
  --grey-on-black: #2C2F4A;

  --glow-color-light: #DDFBFF;
  --glow-color-dark: #091F3F;

  --code-bg-on-white: #EEE;
  --code-text-on-white: #EB5757;
  --code-bg-on-dark: #333;
  --code-text-on-dark: #d18a8a;
}