.button {
  background-color: transparent;
  border: 0;
  text-align: center;
  padding: 1rem;
  height: 1rem;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #fafafa;
}

.editable {
  min-height: 4rem;
  padding: 0.3rem 1rem;
  line-height: 1.1;
  background-color: #fafafa;
}

.toolbar {
  background-color: white;
  position: relative;
  z-index: 10;
}

.buttonGroup + .buttonGroup {
  margin-left: 0.5rem;
}