.editable {
  background-color: var(--black);
  border-radius: var(--border-radius);
  padding: 0.5em 2.5em 0.5em 1.1em;
  max-height: 20em;
  overflow-y: auto;
}

.editable::-webkit-scrollbar {
  display: none;
}

:global(body.light) .editable {
  background-color: var(--editor-white);
  border: 1px solid var(--very-light-purple);
}