.slateEditor {
  box-shadow: 0px 0px 5em 0 var(--glow-color-dark);
}

:global(body.light) .slateEditor {
  box-shadow: 0px 0px 5em 0 var(--glow-color-light);
}

.toolbar {
  position: relative;
  z-index: 10;
  display: flex;
  padding: 0.5em 1em;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--very-dark-purple);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

:global(body.light) .toolbar {
  color: var(--black);
  background-color: var(--very-light-purple);
}

.button {
  background-color: transparent;
  border: 0;
  text-align: center;
  padding: 0.1rem;
  border-radius: 0.3em;;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonActive {
  border-color: var(--white)
}

:global(body.light) .buttonActive {
  border-color: var(--black)
}

.editable {
  min-height: 14rem;
  padding: 2rem;
  background-color: var(--editor-black);
  border: 1px solid var(--very-dark-purple);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

:global(body.light) .editable {
  background-color: var(--editor-white);
  border: 1px solid var(--very-light-purple);
}