button {
  background-color: transparent;
  border-color: transparent;
  font-family: var(--sans-serif);
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
  transition: color var(--ease) var(--fast-animation);
}

button:hover,
button:focus {
  color: var(--yellow);
}

body.light button:hover,
body.light button:focus {
  color: var(--red);
}

button:disabled,
button:disabled:hover,
button:disabled:focus,
body.light button:disabled,
body.light button:disabled:hover,
body.light button:disabled:focus {
  background-color: var(--disabled-grey);
  cursor: default;
}

label {
  cursor: pointer;
}

input,
select, 
textarea {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--sans-serif);
  font-size: 16px;
  line-height: 1.1;
  padding: 0.7em 1em;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  max-width: 30rem;
  display: block;
  border: 0;
  transition: color var(--ease) var(--fast-animation);
  border-radius: var(--border-radius)
}

textarea {
  max-width: 40rem;
}

body.light input,
body.light select, 
body.light textarea {
  background-color: var(--white);
  color: var(--black);
}

input[type=file] {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

input::-webkit-input-placeholder{
  font-family: var(--sans-serif);
  font-size: var(--step-down-1);
}

textarea {
  line-height: 1.5;
  height: 6em;
  padding: .7em;
}

input[type=radio],
input[type=checkbox] {
  height: auto;
  padding: 0;
  vertical-align: middle;
  width: 1em;
}