@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.6;
  font-size: 18px;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 20px;
  }
}

a {
  color: #98adc5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}