@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b, strong {
  font-weight: 600; 
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}