@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');


body {
  padding: 0;
  margin: 0;
  font-family: var(--sans-serif);
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--white);
  color: var(--black);
  transition: background-color var(--ease) var(--slow-animation), 
              color var(--ease) var(--slow-animation);
}

body.dark {
  background-color: var(--black);
  color: var(--white);
}

a, a:visited {
  text-decoration: none;
  color: var(--black);
  transition: color var(--ease) var(--fast-animation);
}

body.dark a,
body.dark a:visited {
  color: var(--white);
}

a:hover,
a:focus {
  color: var(--red);
}

body.dark a:hover,
body.dark a:focus {
  color: var(--yellow);
}

b, strong {
  font-weight: 600; 
}

em, i {
  font-style: italic;
}

img {
  max-width: 100%;
  display: block;
}